Repository vuejs/rfcs, pull requests merged in 2020-04, with the labels that each got.

#144 Merge `meta` fields from parent to child
  active-rfcs/0022-router-merge-meta-routelocation.md
Labels: 3.x, breaking change, final comments, router

#119 Scoped Style Changes
  active-rfcs/0023-scoped-styles-changes.md
Labels: 3.x, breaking change, final comments, sfc

#126 Attr coercion behavior change
  active-rfcs/0024-attribute-coercion-behavior.md
Labels: 3.x, breaking change, core, final comments

#112 <Teleport> built-in component
  active-rfcs/0025-teleport.md
Labels: 3.x, core, final comments

#148 New Async Component API
  active-rfcs/0026-async-component-api.md
Labels: 3.x, breaking change, core, final comments

#149 Custom Elements Interop Improvements
  active-rfcs/0027-custom-elements-interop.md
Labels: 3.x, breaking change, core, final comments

#136 Change active and exact-active behavior for router-link
  active-rfcs/0028-router-active-link.md
Labels: breaking change, final comments, router

#122 Dynamic routing
  active-rfcs/0029-router-dynamic-routing.md
Labels: 3.x, final comments, router

#16 Add "emits" component option
  active-rfcs/0000-emits-option.md
Labels: core, final comments

#154 Attribute Fallthrough + Functional Component Updates
  active-rfcs/0007-functional-async-api-change.md
  active-rfcs/0010-optional-props-declaration.md
  active-rfcs/0031-attr-fallthrough.md
Labels: 3.x, breaking change, core, final comments

#150 Redesigning Navigation failures and global handlers
  active-rfcs/0000-router-navigation-failures.md
Labels: 3.x, breaking change, final comments, router
